<% provide(:title, 'Browse') %>
<h1>Browse</h1>


<%= stylesheet_link_tag "jquery-ui-1.10.3.custom.css" %>
<%= stylesheet_link_tag "ui.jqgrid.css" %>

<%= javascript_include_tag "browse" %>

<table id="list2"></table>
<div id="pager2"></div>