<!DOCTYPE html>
<html>
  
<div class="center hero-unit">
  <h1>Welcome to IPtracker</h1>

  <h2>
    IP tracker manages circuit IP and a tool to floorplan new designs.
    <div>Visit <a href="https://github.com/cookacounty/IPtracker">IPtracker</a> on GitHub.</div>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

</html>