  

<%= stylesheet_link_tag "jquery-ui-1.10.3.custom.css" %>

<%= javascript_include_tag "layout" %>

<head>
  <meta charset="utf-8" />



  <style>
  h1 { padding: .2em; margin: 0; }
  #products { width: 620px;  margin-top: 2em;  }
  #layout-header { width: 620px; margin-top: 2em;  }
  #cart { width: 620px; margin-top: 2em; }
  /* style the list to maximize the droppable hitarea */
  #cart ol { margin: 0; padding: 1em 0 1em 3em; }
  #layout-canvas { width: 1000px; height: 500px; padding: 0.5em; margin-top: 2em; background-color: #FFE; border: double 5px red; }
  </style>

</head>

<body>
 
<div id="products">
  <h1 class="ui-widget-header">IP Library</h1>
  <div id="catalog">
    <h2><a href="#">Tracked Cells</a></h2>
      <ul id="all-cells">
      </ul>
    <h2><a href="#">Reg's and Ref's</a></h2>
      <ul id="regs-refs">
      </ul>    <h2><a href="#">Hall Plates</a></h2>
      <ul id="hall-plates">
      </ul>
    <h2><a href="#">Signal Path</a></h2>
      <ul id="signal-path">
      </ul>
    <h2><a href="#">Memories</a></h2>
      <ul id="memories">
      </ul>
  </div>
</div>



 
<div id="cart">
  <h1 class="ui-widget-header"><div id="die-area"></div></h1>
  <div class="ui-widget-content">
    <table id="added-item-list">
	<tr class="placeholder"><td><b>Add your items here</b></td></tr>
    </table>
  </div>
</div>

<div id="layout-header">
<h1 class="ui-widget-header">Layout Canvas: 2.4mm X 1.2mm</h1>
</div>

<div id="layout-canvas">
</div>



  
</body>