<% provide(:title, 'References') %>
<h1>Rails/JavaScript Development References</h1>
<p>
Userful links for devs. Probably the only useful page on this site
</p>

<ul>
  <li><a href="http://railstutorial.org/">Ruby on Rails Tutorial</a></li>
  <li><a href="https://www.ruby-toolbox.com/">Ruby Toolbox</a></li>

</ul>
