<% provide(:title, 'References') %>
<h1>Rails/JavaScript Development References</h1>
<p>
Userful links for devs. Probably the only useful page on this site
</p>

<ul>
  <li><a href="http://railstutorial.org/">Ruby on Rails Tutorial</a></li>
  <li><a href="https://www.ruby-toolbox.com/">Ruby Toolbox</a></li>
  <li><a href="http://guides.rubyonrails.org/index.html">Ruby on Rails Guide</a></li>
  <li><a href="http://api.rubyonrails.org/classes/ActiveRecord/Base.html">ActiveRecordAPI</a></li>
  <li><a href="http://nodejs.org/">NodeJS</a></li>
  <li><a href="http://benw.me/posts/sortable-bootstrap-tables/">Sortable tables</a></li>  
  <li><a href="http://www.trirand.com/jqgridwiki/doku.php?id=start">jqGrid</a></li>  
  <li><a href="http://www.trirand.com/blog/jqgrid/jqgrid.html">jqGrid Demos</a></li>  
  <li><a href="https://github.com/nu7hatch/rails3-ujs-example">Rails Javascript</a></li>  
  <li><a href="http://getbootstrap.com/2.3.2/base-css.html#tables">Twitter Bootstrap</a></li>  



</ul>
