<li>
  <span class="name"><%= link_to cdscell.name, cdscell %></span>
  <span class="area"><%= sprintf("%.2f", cdscell.area/(1000.0*1000.0)) %> mm^2</span>
  <span class="timestamp">
    Imported <%= time_ago_in_words(cdscell.created_at) %> ago.
  </span>
    <%= link_to "delete", cdscell, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: cdscell.name %>
</li>