<h1>Cadence Libraries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @silicons.each do |silicon| %>
      <tr>
        <td><%= link_to silicon.name, silicon %></td>
        <td><%= link_to 'Edit', edit_silicon_path(silicon) %></td>
        <td><%= link_to 'Destroy', silicon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cdslib', new_silicon_path %>
